* {
    margin: 0;
    font-family: Inter;
    border: border-box;
}

.inter-uniquifier {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


body {
    background-color: rgb(234, 234, 234);
}

.navbar {
    height: 60px;
    background-color: white;
    color: #626262;
    display: flex;
    /* position: sticky top 5px; */
    position: fixed;
    width: 100%;



}

.nav-logo {
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.logo {
    background-image: url("images__1_-removebg-preview.png");
    background-size: cover;
    height: 50px;
    width: 112px;

}

.nav-anchortags {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.95rem;
}

.man-icon {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.99rem;
    margin-left: 30%;
}

.search-icon {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.99rem;
    margin-right: 1%;
}

.mainheading {

    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 35px;


}

.h1 {
    font-family: "Inter";
    font-weight: bold;
}

.h2 {
    color: #a24123;
    margin-left: 10px;
    font-family: "sans-serif";
}

.cardsarea {
    display: flex;

    justify-content: space-evenly;
    height: 900px;
    margin: 2%;
}

.card {
    padding: 7%;
    width: 80%;
    height: 43%;
    border-radius: 5%;
    box-shadow: 1px 1px rgb(180, 229, 244);
    background-color: ghostwhite;


}

/* .card:hover{
    background-color:rgb(166, 208, 245)
    

} */

.cardimg {
    height: 200px;
    /* width: 250px;
    margin-left: 5%; */
    background-size: cover;

}

.card-heading {
    margin-top: 15%;
    font-weight: 600;
    font-size: x-large;

}

.card-para {
    margin-top: 10%;
    font-size: 1rem;
    /* text-align: center; */
}

.h3 {
    margin-top: -430px;
    text-align: center;
    /* font-weight: bold; */
}

.container1 {
    height: 380px;
    width: 95%;
    /* display: flex; 
     align-items: center;
     justify-content: center;  */
    background-color: white;
    padding-top: 7%;
    margin-top: 40px;
    margin-left: 2.5%;
    border-radius: 10px;
}

/* quick_fact hr {
    width: 40%;
    display: inline-block;
}
hr.hr_narrow {
    width: 7%;
}
hr {
    background-color: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .08);
}
hr, .hr_wide, .hr_zigzag, .hr_dots {
    margin: 0 auto 15px;
    clear: both;
}
hr {
    display: block;
    border: none;
    outline: none;
    height: 1px;
    width: 100%;
    margin: 0 auto 15px;
    clear: both;
}
*, *::before, *::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}
user agent stylesheet
hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.quick_fact {
    text-align: center;
} */


.container2 {
    display: flex;
    justify-content: space-evenly;
}

.c-box2 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

button {
    background-color: #a24123;
    color: aliceblue;
    border-style: none;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
}

.c-button {
    display: flex;
    justify-content: center;
    margin-top: 4%;

}

.container3 {
    height: 700px;
    width: 100%;

}

/* .heading1 {
    margin-left: 1.7rem;
    margin-top: 3%;
    color: #a24123;
}

.para1 {
    margin-left: 1.7rem;
    margin-top: 1%;
    color: #626262;
    letter-spacing:-0.5px ;
}
.bg-box{
    width: 80px;
    height: 80px;
    background-color: #a24123;
    border-radius: 10px;
    margin-top: 3%;
    margin-left: -15px;
} */
/* *::before, *::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}
em, i {
    font-style: italic;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.list_item.lists_1 .list_left {
    background-color: #a12324;
}
.list_item.lists_1 .list_left {
    color: #fff;
}
.list_item.lists_1 .list_left {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-image: url(../images/stripes/stripes_3_b.png);
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .1);
}
.list_item .list_left {
    color: #a12324;
}
.list_item .list_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 50px;
    overflow: hidden;
    text-align: center;
    float: left;
}
list_item.lists_1 .list_left {
    color: #fff;
}
.list_item .list_left {
    color: #a12324;
}
.list_item .list_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 50px;
    overflow: hidden;
    text-align: center;
    float: left;
}

user agent stylesheet
i {
font-style: italic;
}
.list_item.lists_1 .list_left {
color: #fff;
}
.list_item .list_left {
color: #a12324;
}
.list_item .list_left {
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
font-size: 50px;
overflow: hidden;
text-align: center;
float: left;
} */
.heading1 {
    margin-top: 4%;
    justify-content: center;
    display: flex;
   
}
.catagory{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cic1 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    /* border: solid black; */
    background-image: url(image1.jpeg);
    background-size: cover;
    margin-top: 5%;
}
.cic2 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    /* border: solid black; */
    background-image: url(image2.jpeg);
    background-size: cover;
    margin-top: 5%;
}
.cic3 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    /* border: solid black; */
    background-image: url(image1.jpeg);
    background-size: cover;
    margin-top: 5%;
}
.cic4 {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    /* border: solid black; */
    background-image: url(image1.jpeg);
    background-size: cover;
    margin-top: 5%;
}
.catagory-heading{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 100%;
}
.container3{
    height: 700px;
    width: 100%;
}
.c3-h{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.catalog-img{
    display: flex;
    justify-content: space-around;
}
.img1{
    height: 200px;
    width: 200px;

    margin-top: 2%;
    margin-left: 2%;
    background-image: url(img1.jpg);
    background-size: cover;
}
.img2{
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 2%;
    background-image: url(img2.jpg);
    background-size: cover;
}
.img3{
    height: 200px;
    width: 200px;
    margin-top: 2%;
    margin-left: 2%;
    background-image: url(img3.png);
    background-size: cover;
}
.img4{
    height: 200px;
    width: 200px;

    margin-top: 2%;
    margin-left: 2%;
    background-image: url(img4.jpg);
    background-size: cover;
}
